.cardContainer {
  display: flex;
  position: relative;
  height: calc(100vh - 32px);
  width: calc(100vw - 32px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 16px;
  background-color: white;
  transition: 1000ms ease-in-out;
  box-shadow: 1px 1px 4px grey;
  backface-visibility: hidden;
}

.cardContainer.hidden {
  transform: rotateY(180deg);
}

.cardCorners {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardCorners > div {
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
}

.N, .S {
  display: flex;
  justify-content: space-between;
}

.S {
  transform: rotate(180deg)
}

.cardValue {
  font-size: 180px;
  font-weight: bold;
}